{% extends 'mybase.html' %}
{% block head %}

{% endblock %}
{% block pagetitle %}

{% endblock %}


{% block body %}
<div
<object width="640" height="360"><param name="movie" value="//www.youtube.com/v/TdMKkVsRHCk?version=3&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/TdMKkVsRHCk?version=3&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="640" height="360" allowscriptaccess="always" allowfullscreen="true"></embed></object>
</div>

<div style = 'width:250px;height:60px;text-align:center;'>

    <div class = button ><a class = fill href = {% url 'interest:poll' %}>Poll</a></div>
    <div class = button ><a class = fill href = {% url 'interest:poll2' %}>"Mobile"</a></div>
    <div class = button ><a class = fill a href = {% url 'interest:result' %}>Results</a></div>
    <div style = 'clear:both;'></div>
</div>

{% endblock %}
