{% extends 'mybase.html' %}
{% block head %}
<script>

$(document).ready(function(){
    $( "#id_answer_4" ).focus();
});

</script>
{% endblock %}
{% block pagetitle %}
Now testing!<br>
Interest Poll for {{game}}
{% endblock %}
{% block body %}

<form action = '{% url 'interest:poll' %}' method = 'POST' name = interestform'>
{% csrf_token %}

{{poll_answer}}

<input type = 'submit' value = 'Vote'>
</form>
<form action = '{% url 'interest:poll' %}' method = 'GET'>
    <input type = 'submit' value = 'Skip for now'>
</form>
{% endblock %}
