{% extends 'mybase.html' %}
{% block head %}

{% endblock %}
{% block pagetitle %}
Interest Poll for {{game}}
{% endblock %}
{% block body %}

<form action = '{% url 'interest:main' %}' method = 'POST' name = interestform'>
{% csrf_token %}

<!--
<input type = 'hidden' value = '{{poll_answer.user}}' id = 'id_user' name = 'user'>
<input type = 'hidden' value = '{{poll_answer.game}}' id = 'id_game' name = 'game'>
-->

{{poll_answer}}
<input type = 'submit' value = 'Vote'>
</form>
<form action = '{% url 'interest:main' %}' method = 'GET'>
    <input type = 'submit' value = 'Skip for now'>
</form>
{% endblock %}
