{% extends 'mybase.html' %}
{% block head %}
<style>
div.box { background-color:#F7C6EA;float:left;margin:5px;padding:5px; }
</style>

<script>

$(document).ready(function(){
    $( "#id_answer_4" ).focus();
});

</script>
{% endblock %}
{% block pagetitle %}
Now testing!<br>
Interest Poll for {{game}}{% if new %} *NEW 2015{%endif%}
{% endblock %}
{% block body %}
<div class = 'box'>
<form action = '{% url 'interest:poll' %}' method = 'POST' name = interestform'>
{% csrf_token %}

{{poll_answer}}

<input type = 'submit' value = 'Vote'>
</form>
<form action = '{% url 'interest:poll' %}' method = 'GET'>
    <input type = 'submit' value = 'Skip for now'>
</form>
</div>
<div class = 'box'>
Developer: {{details.developer}}<br>
URL:<br>{{details.url}}<br>{{details.developer.url}}<br>
Notes:<br>{{details.notes}}<br>
{{details.developer.notes}}
</div>
<div style = 'clear:both'></div>
{% endblock %}
